<!doctype html>
<html>
    <head>
        <title>Spotify map</title>
        <link rel="stylesheet" href="static/hf.css" />
    </head>
    <body>
        <div class = "header">
            <form method='POST' action='/search4'>
                <h1>Find the <span>available markets</span> for song!</h1>
                <div class = "form-box">
                <input class = "search-field skills" name='Artist name' type='TEXT' width='60' placeholder="Artist's name">
                    <button class = "search-btn" type = "submit">Search</button>
                </div>
           
            </form>
        </div>>
    </body>
</html>
